// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Context menu
@import '~vue-context/src/sass/vue-context';


// Icons
$bootstrap-icons-font: "bootstrap-icons" !default;
$bootstrap-icons-font-src: url("~bootstrap-icons/font/fonts/bootstrap-icons.woff2?30af91bf14e37666a085fb8a161ff36d") format("woff2"),
url("~bootstrap-icons/font/fonts/bootstrap-icons.woff?30af91bf14e37666a085fb8a161ff36d") format("woff") !default;

@import '~bootstrap-icons/font/bootstrap-icons';

@mixin background-opacity($color, $opacity: 0.5) {
    background: $color;
    background: rgba(red($color), green($color), blue($color), $opacity);
}

.issue-color {
    @include background-opacity($danger, 0.3)
}

.receipt-color {
    @include background-opacity($success, 0.3)
}

.transmission-color {
    @include background-opacity($warning, 0.3)
}

.numeric-pad {
    .col {
        padding: .5rem;
        .pad {
            border: 1px solid gray;
            width: 100%;
            min-height: 75px;
            text-align: center;
            margin-top: 1rem;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                background: $gray-200;
            }

            &.disabled {
              background: $gray-200;
              cursor: default;
            }
        }
    }
}

svg.bi {
    width: 32px;
    height: 32px;

    @include media-breakpoint-down('sm') {
        width: 16px;
        height: 16px;
    }
}
